@charset "utf-8";
body {
  overflow-x: hidden;
  font-family: "Roboto" ;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif; 
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
}

article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
  display: block;
}


.navbar {
	color: transparent ;
}



.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl {
  width: 100%;
  padding-right: 15px ;
  padding-left: 15px ;
  margin-right: auto;
  margin-left: auto;
}

header.masthead {
    text-align: center;
    background-image: url("../images/pexels-free-nature-stock-127577.jpg");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: 50%;
    background-size: cover;
    color: #FFFFFF;
    font-size: 30px;
    font-family: "Roboto" ;
    font-weight: bold;
    height: 40%;
    min-height: 1000px;
    display: block;
}   



header.masthead .intro-text .intro-heading {
    font-size: 50px;
    font-weight: 700;
    line-height: 50px;
    margin-bottom: 25px;
    font-family: "Roboto" ;
    font-style: normal;
	
}

h1 {
    color: #F2BB07;
    text-align: center;
    text-shadow: 3px 3px 1px #000000;
    font-family: "Roboto";
    font-weight: 1000;
}


h5 {
	color: #F2BB07 ;
}

p{
	color:#3d3d3d ;
	font-family: "Roboto" ;
}

.container-fluid{
	height: 800px ;
	color: white ; 
}

@media (min-width:768px) {
  header.masthead .intro-text .intro-heading {
    font-size: 90px;
    font-weight: 700;
    line-height: 75px;
    margin-bottom: 50px;
    font-family: "Roboto" ;
    color: #F2BB07;
    text-shadow: 3px 6px #000000;
  }
}

.intro-heading {
	padding-top: 5px ;
	margin-top: 30px ;
}

@media (min-width:768px) {
  section {
    padding: 150px 0;
  }
}

section {
  padding: 100px 0;
}

article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
  display: block;
}

.text-center {
  text-align: center!important;
}

.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

@media (min-width:768px) {
  .col-md-4 {
    -ms-flex: 0 0 33.33333%;
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
}

.col, .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col-auto, .col-lg, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-auto, .col-md, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md-auto, .col-sm, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-auto {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    border-color: #000000;
    border-width: 0px;
    background-color: #FFFFFF;
}
section h2.section-heading {
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 15px;
    font-family: "Roboto" ;
}

section h3.section-subheading {
  font-size: 25px;
  font-weight: 400;
  font-style: italic;
  margin-bottom: 75px;
  text-transform: none;
  font-family: "Roboto" ;
}
@media (min-width:992px) {
  .col-lg-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
}


h3, h4, h5, h6 {
  font-weight: 700;
  font-family: "Roboto" ;
}

.h4, h4 {
  font-size: 1.5rem;
}

.h3, .h4, .h5, .h6, h3, h4, h5, h6 {
  margin-bottom: .5rem;
  font-weight: 500;
  line-height: 1.2;
}

h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: .5rem;
    border-width: medium;
}

section#contact {
    background-color: #212529;
    background-repeat: no-repeat;
    background-position: 50%;
    width: 100%;
}

@media (min-width:768px) {
  section {
    padding: 150px 0;
  }
}

section {
  padding: 100px 0;
}

article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
    display: block;
}

section#contact .section-heading {
  color: #fff;
}

section h2.section-heading {
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 15px;
    text-shadow: 0px 0px #FFFFFF;
}

section h3.section-subheading {
  font-size: 16px;
  font-weight: 400;
  font-style: italic;
  margin-bottom: 75px;
  text-transform: none;
  font-family: "Roboto" ;
}

col-md-4{
	border-width: medium ;
	border-color: black ;
	
}
body {
	color: Black ; 
}
.text-uppercase {
	color: Black ;
}
#vision {
	margin-bottom: -400px ;
}
#about {
	margin-bottom: -400px ;
}

.team4 {
  font-family: "Roboto" ;
	color: #8d97ad;
  font-weight: 300;
}
.team4 h1, .team4 h2, .team4 h3, .team4 h4, .team4 h5, .team4 h6 {
  color: #3e4555;
}

.team4 .font-weight-medium {
	font-weight: 500;
}

.team4 h5 {
    line-height: 22px;
    font-size: 18px;
}

.team4 .subtitle {
    color: #8d97ad;
    line-height: 24px;
		font-size: 13px;
}

.team4 ul li a {
  color: #8d97ad;
  padding-right: 15px;
  -webkit-transition: 0.1s ease-in;
  -o-transition: 0.1s ease-in;
  transition: 0.1s ease-in;
}

.team4 ul li a:hover {
  -webkit-transform: translate3d(0px, -5px, 0px);
  transform: translate3d(0px, -5px, 0px);
	color: #316ce8;
}

#mission {
	margin-bottom: -400px ;
}

h4{ 
font-family: "Roboto" ;
}

.carousel-caption{
	color:white; 
	background-color:#223b5b;
	background-blend-mode:screen;
	margin-bottom: 400px;
	border: medium;
}

.jumbotron { background-image: url("../images/mountains-jumbotron2.jpg");
	align-self: auto ;
	background-size: auto ;
}

.my-background {background-image: url("../images/boomtak.jpg");
}

.our-team {text-align: center;
}

.payment-form{
	padding-bottom: 50px;
	font-family: "Roboto" ;
}

.payment-form.dark{
	background-color: #f6f6f6;
}

.payment-form .content{
	box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.075);
	background-color: white;
}

.payment-form .block-heading{
    padding-top: 50px;
    margin-bottom: 40px;
    text-align: center;
}

.payment-form .block-heading p{
	text-align: center;
	max-width: 420px;
	margin: auto;
	opacity:0.7;
}

.payment-form.dark .block-heading p{
	opacity:0.8;
}

.payment-form .block-heading h1,
.payment-form .block-heading h2,
.payment-form .block-heading h3 {
    margin-bottom: 1.2rem;
    color: #F2BB07;
    font-family: "Roboto";
    font-weight: bold;
}

.payment-form form{
    border-top: 2px solid #F2BB07;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.075);
    background-color: #ffffff;
    padding: 0;
    max-width: 600px;
    margin: auto;
}

.payment-form .title{
	font-size: 1em;
	border-bottom: 1px solid rgba(0,0,0,0.1);
	margin-bottom: 0.8em;
	font-weight: 600;
	padding-bottom: 8px;
}

.payment-form .products{
	background-color: #f7fbff;
    padding: 25px;
}

.payment-form .products .item{
	margin-bottom:1em;
}

.payment-form .products .item-name{
	font-weight:600;
	font-size: 0.9em;
}

.payment-form .products .item-description{
	font-size:0.8em;
	opacity:0.6;
}

.payment-form .products .item p{
	margin-bottom:0.2em;
}

.payment-form .products .price{
	float: right;
	font-weight: 600;
	font-size: 0.9em;
}

.payment-form .products .total{
	border-top: 1px solid rgba(0, 0, 0, 0.1);
	margin-top: 10px;
	padding-top: 19px;
	font-weight: 600;
	line-height: 1;
}

.carousel-item {
  height: 65vh;
  min-height: 300px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin-top: -30px ;
}

.portfolio-item {
  margin-bottom: 10px;
}


.payment-form .card-details{
	padding: 25px 25px 15px;
}

.payment-form .card-details label{
	font-size: 12px;
	font-weight: 600;
	margin-bottom: 15px;
	color: #79818a;
	text-transform: uppercase;
}

.payment-form .card-details button{
	margin-top: 0.6em;
	padding:12px 0;
	font-weight: 600;
}

.payment-form .date-separator{
 	margin-left: 10px;
    margin-right: 10px;
    margin-top: 5px;
}

@media (min-width: 576px) {
	.payment-form .title {
		font-size: 1.2em;
	}

	.payment-form .products {
		padding: 40px; 
  	}

	.payment-form .products .item-name {
		font-size: 1em; 
	}

	.payment-form .products .price {
    	font-size: 1em; 
	}

  	.payment-form .card-details {
    	padding: 40px 40px 30px;
    }

  	.payment-form .card-details button {
    	margin-top: 2em;
		Background-color: #F2BB07 ;
    } 
	
}

a {
  color: #F2BB07 ;
}
a:hover {
  color: #223B5B ;
}
a:visited {
	color: #87986A ;
}

h2 {
    color: #F2BB07;
    text-shadow: 1px 1px #000000;
	font-family:"Roboto";
}

.btn {
    background-color: #F2BB07;
    color: black;
    font-family: "Roboto";
    font-size: 20px;
    font-weight: bold;
}
.btn-primary {
	background-color: #F2BB07 ;
}
.btn:hover {
	background-color: #223B5B ;
		color: white ;
	font-family: "Roboto" ;
	    font-size: 20px;
    font-weight: bold;
}
.btn-primary:hover {
	background-color: #223B5B ;
		color: white ;
	font-family: "Roboto" ;
}

.btn:active {
	background-color: #87986A ;
		color: black ;
	font-family: "Roboto" ;
	    font-size: 20px;
    font-weight: bold;
}
.text-uppercase .section-heading{
    text-shadow: 0px 0px;	
}
